* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: rgb(8, 8, 47);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: white;
  margin-top: 30px;
}

#search-box {
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: auto;
  margin-top: 20px;
}

#search {
  height: 30px;
  width: 200px;
  border-radius: 7px;
  text-align: center;
  font-weight: bold;
}

#btn {
  height: 30px;
  width: 70px;
  border-radius: 7px;
  background-color: rgb(245, 142, 7);
  text-align: center;
  font-weight: bold;
  color: white;
}

#result {
  height: 500px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 20px;
  gap: 60px;
}

#city {
  height: 150px;
  width: 250px;
  padding-top: 40px;
  background-color: hsla(60, 20%, 99%, 0.942);
  box-shadow: 2px 2px 18px;
  text-align: center;
  border-radius: 15px;
}

#humidity {
  height: 150px;
  width: 250px;
  background-color: hsla(60, 20%, 99%, 0.942);
  padding-top: 40px;
  box-shadow: 2px 2px 18px;

  text-align: center;
  border-radius: 15px;
}

#temp {
  height: 150px;
  width: 250px;
  background-color: hsla(60, 20%, 99%, 0.942);
  padding-top: 40px;
  box-shadow: 2px 2px 18px;

  text-align: center;
  border-radius: 15px;
}

#wind {
  height: 150px;
  width: 250px;
  background-color: hsla(60, 20%, 99%, 0.942);
  text-align: center;
  padding-top: 40px;
  box-shadow: 2px 2px 18px;

  border-radius: 15px;
}

#icon {
  height: 150px;
  width: 190px;
  background-color: hsla(40, 73%, 28%, 0.942);
  text-align: center;
  box-shadow: 2px 2px 18px;

  border-radius: 15px;
}
